<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  AirBnB Price App
  <form id='user_input' autocomplete="off" method="post" action="/user_submit">
    <div class="w3-row-padding" style="margin:8px 16px;">
      <div class="w3-half w3-margin-bottom">
        <label>Availability 365</label>
        <input class="w3-input w3-border" type="number" name="availability_365" min="1" max="365" step="1" value="0">
      </div>
    <button class="w3-button w3-dark-grey" type="SUBMIT"><i class="fa fa-search w3-margin-right"></i> Estimate Price</button>
  </form>
</body>
</html>