  
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<body id="myPage">


<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="{{ url_for('static', filename='images/mattjones_city.jpg') }}" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
        <form id='user_input' autocomplete="off" method="post" action="/predict">
            <button>Traveling? Get your prices estimated!</button>
        </form>
    </div>
  </div>


</body>
</html>